/**
 * Header styling
 */

header {
  .x-logobar {
    a{
      float:left !important;
      margin:24px 0 0 24px;
    }
  }
  nav {
      float: left !important;
      margin:28px 0 36px 24px;
      padding: 0 !important;
  }
  .x-navbar {
    background-color: #fe990d!important;
    background-repeat: repeat-x;
    background-position: 0 0;
    
    .desktop .x-nav a{
      height:initial !important;;
    }

    .x-container {
      .x-btn-navbar{
        @media only screen and (max-width: 979px){
          box-shadow: none;
        } 
        
      }
      .x-btn-navbar.collapsed, .x-btn-navbar, .x-btn-navbar.collapsed:hover{
        @media only screen and (max-width: 979px){
          background-color:#fe9a0d !important;
          font-size: 30px !important;
        }
      }
      
      .masthead-stacked .x-navbar {
        @media only screen and (max-width: 979px){
          text-align: right;
        }
      }

      .x-brand {
        margin-top: -30px;
        margin-bottom: 15px;
      }

      nav.x-nav-wrap {
        #menu-main-menu {
          padding:0;

          .menu-item a {
            font-size: 20px;
            line-height: 26px;
            padding: 0;
            padding-top: 15px;
            color: #010101;
            box-shadow: none;
          }

          .menu-item {
            a{
              margin-right:10px;  
            }
            a:hover {
              text-decoration: none;
              color: #fff;
              box-shadow: none;
            }

            a span {
              font-family: 'Oswald', sans-serif;
              padding: 9px 18px 12px 20px;
            }
            &.current-menu-item a span {
              color: #fff;
              color: white;
              -webkit-border-radius: 9px;
              -moz-border-radius: 9px;
              border-radius: 9px;
              background: url('../images/nav-tail.jpg') repeat-x #eb090c;
            }
          }
        }
        &.desktop .menu-item span{
          font-size: 22px;
          font-weight: 800;
          color: #754C29;
          padding: 12px !important;
          border-radius: 8px !important;
          font-family: 'futur-vn-regular'!important;
          letter-spacing: 0px;
        }
        &.mobile .menu-item span{
          font-size: 15px;
          font-weight: 800;
          color: #754C29;
          border-radius: 8px !important;
          font-family: 'futur-vn-regular'!important;
          letter-spacing: 0px;
        }
      }
    }
  }
}
