/**
 * Layout styling
 */
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/** Home Style **/

#home-slider{
  margin-bottom: 48px; 
  @media only screen and (max-width: 767px) {
    margin-bottom: 38px; 
  }
  @media only screen and (max-width: 468px) {
    margin-bottom: 28px; 
  }
  @media only screen and (max-width: 300px) {
    margin-bottom: 18px; 
  }

  .slideshow_description_box{
    background-color: rgba(53,53,53,0.5);
    padding-bottom: 12px;

    .slideshow_title, .slideshow_title a{
      text-align: left;
      font-size: 32px;
      color: #FFFFFF;
      padding-left:24px;
      font-family: futur-vn-bold;

      @media only screen and (max-width: 767px) {
        font-size: 26px;
      }
      @media only screen and (max-width: 468px) {
        font-size: 20px;
      }
    }
    .slideshow_description, .slideshow_description a{
      text-align: left;
      font-size: 18px;
      color: #FFFFFF;
      padding-left:24px;
       @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
      @media only screen and (max-width: 468px) {
        font-size: 14px;
      }
    }
  }

  .slideshow_container, .slideshow_content, .slideshow_view, .slideshow_slide, .slideshow_slide img {
    @media only screen and (max-width: 767px) {
      height: 300px !important;
    }
    @media only screen and (max-width: 468px) {
      height: 175px !important;
    }
  }

  .slideshow_container_style-light .slideshow_transparent{
    opacity:1;
  }

  .slideshow_pagination{
    display: none !important;
  }
}

#home-intro-text{
  margin: 0 24px 64px 24px !important;
  line-height: 38px !important;
  
  p1{
    font-size: 28px !important;
    opacity: 0.87 !important;
    font-family: "futur-vn-regular";

    @media only screen and (max-width: 767px) {
      font-size: 24px !important;
      line-height: 10px !important;
    }

    @media only screen and (max-width: 468px) {
      font-size: 20px !important;
      line-height: 5px !important;
    }
  } 
  p2 {
    font-size: 32px !important; 
    opacity: 0.87 !important;
    font-family: "futur-vn-regular" !important;
    color: #FFFFFF !important;

    @media only screen and (max-width: 767px) {
      font-size: 28px !important;
      line-height: 10px !important;
    }
    @media only screen and (max-width: 468px) {
      font-size: 24px !important;
      line-height: 5px !important;
    }
  }

}

#home-header-extended{
  background: #fe990d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fe990d, #ffc513); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fe990d, #ffc513); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fe990d, #ffc513); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fe990d, #ffc513); /* Standard syntax */
}

#service-area{
  margin-top: -95px !important;
  .service-text p{
    font-size: 18px; 
    line-height: 20px;
  }  
}

#home-sponsor{
  .h-custom-headline{
    margin:-20px 0 12px 0 !important;

    span{
      font-family: futur-vn-bold;
    }
  }
  .sponsor-col {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px !important;
    
    @media only screen and (max-width: 768px) {
      width:100%;
      height:200px;
    }
    img {
      @media only screen and (min-width: 1080px){
        position: relative !important;
      }
    }
  }
  .cs-empty-column{
    @media only screen and (max-width: 768px) {
      display:none;
    }
  }
}
/** End - Home Style **/
/*** Who we are Style **/
.who-we-are{

  .x-container.max.width.offset {
      max-width: none!important;
      width: 100%;
      background-color: #f7f7f7;
      margin: 0px !important;
  }
  #sth-about-us{
    margin: 0 auto !important;
    margin-top: 128px !important;
    margin-bottom:128px !important;
    > div{
      max-width: 940px;
    }
  }
  #philosophy{
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px;
    padding: 128px 5% !important;

     > div{
      max-width: 940px;
    }
  }
  #why-we-are-different{
    @extend #philosophy;
  }
  #why-we-are-different{
    box-shadow: none;
    .partner{
      padding-right: 24px !important;
      @media only screen and (max-width: 767px){
         padding-right: 0px !important;
      }
    }
    .team{
      padding-left: 24px !important;
      @media only screen and (max-width: 767px){
         padding-left: 0px !important;
      }
    }
  }
  #our-people{
    .x-tab-content{
      margin: 0;
      pointer-events: none;
    }
    .x-nav-tabs, .heading-1{
      max-width: 940px;
      margin: 0 auto;
    }
    .x-nav-tabs{
      display: flex;
      margin-bottom: -90px; 

      @media only screen and (max-width: 979px){
        margin-bottom: -65px;
      }
      @media only screen and (max-width: 767px){
        margin-bottom: -50px;
      }
      @media only screen and (max-width: 468px){
        margin-bottom: -30px;
      }

      &.top > li a{
        border: 0 !important;
        transition: filter 0.2s linear;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        @media only screen and (max-width: 979px){
          width: 130px;
          height: 130px;
        }
        @media only screen and (max-width: 767px){
          width: 100px;
          height: 100px;
        }
        @media only screen and (max-width: 468px){
          width: 60px;
          height: 60px;
        }
      }
    }

    .x-tab-pane{
      background-color: #f7f7f7;
      padding-bottom: 128px;

      .name, .role, .description{
          max-width: 940px;
          margin: 0 auto;
       }
      .name{
        margin-top: 64px;
        margin-bottom: 10px;
       }
      .role{
        margin-bottom: 20px;
      }
    }
    
  }

  
}
.philosophy{
  @media only screen and (max-width: 767px){
    text-align: center!important;
  }
}

.heading-1{
  font-family: futur-vn-bold !important;
  color: #F7941E;
  font-size: 30px;
  font-weight: bold;
  @media only screen and (max-width: 767px){
    font-size: 25px;
    line-height: 30px;
    margin-bottom:10px;
  }
}
.heading-2{
  color: #000000; 
  font-size: 30px;
  margin-top: 1.5%;
  @media only screen and (max-width: 767px){
    font-size: 25px;
    line-height: 30px;
  }
}
.our-people-name{
  @media only screen and (max-width: 767px){
    margin-top:-3% !important;
  }
}
.our-people-role{
  @media only screen and (max-width: 767px){
    margin-top:-1%  !important;
    margin-bottom:1%;
  }
}
/** End Who we are Style **/
a:hover {
  @media only screen and (max-width: 979px){
      text-decoration:initial;
  }
}
.x-nav-tabs-item{
  @extend .flex-center;
  &.active a{
      filter: none !important;
  }
}

/** Contact page Style**/


.g-recaptcha {
  iframe{
      height:100px !important;
      width:100%;
      max-width: none;
      border: none;
  }
 }

.x-container.offset {
  margin-top: 48px !important;
}
.headline{
  color: #F7941E;
  font-size: 24px;
  font-family: futur-vn-bold;
  margin-bottom: 24px;
}

#map
{
  max-width: 95%;
  border-style: solid;
  padding: 6px;
  border-width: 0px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);  
  margin-bottom: 24px;
}

#address{
  font-size: 16px;
  color: #000000;
  margin-bottom: 36px;
}

#website{
  font-size: 16px;
  color: #F7941E;
  margin-bottom: 40px;
  @media only screen and (max-width: 767px) {
    position: absolute;
    bottom: -5%;
  }
}

#contact-us{
  .x-column{
    padding-right: 25px !important;
  }
}
.wpforms-field-label{
  font-size: 14px;
  color: #754C29;
}

.wpforms-field-medium{
  width: 100%;
  height: 36px;
  margin-bottom: 2px;
}
.message #wpforms-255-field_2{
  height: 170px;
  margin-bottom: 20px !important;
}

.wpforms-submit-container{
  float: left;
}

.wpforms-submit {
  color: #000 !important;
  border-radius: 12px!important;
  padding: 12px;
  margin-top: 12px;
  background-color: #E5E4E2 !important;
  border-color: #ffffff !important;
}
.contact_form{
  .wpforms-error{
    color: #EB090C;
    font-size: 12px;

  }
}
#wpform-field-hp{
  display: none;
}

/** End- Contact page style **/

/** What we have done Style**/
#what-we-have-done-project{
  .pt-cv-wrapper{
    .pt-cv-content-item{
      padding: 0;
      margin: 0 15px 15px 0;
      width: 31%;
      @media only screen and (max-width: 987px) {
        width: 47%;
      }
      @media only screen and (max-width: 578px) {
        width: 46%;
      }
       @media only screen and (max-width: 445px) {
        width: 100%;
      }
      .pt-cv-ifield{
        @extend .flex-center;

        a{
          margin-bottom: 0px;
          img{
              margin-bottom: 0px !important;
          }
        }
        
        &:hover {   
          .pt-cv-title {
            display: block;
            background-color: rgba(0, 0, 0, 0.7);
          }
        }

        .pt-cv-title {
          position: absolute;
          display:none;
          padding-top: 100%;
          padding-bottom: 100%;
          width: 100%;
          text-align: center;
          pointer-events: none;
          a{
            font-family: futur-vn-bold;
            color: #F7941E;
            font-size: 22px;
          }
        }

      }
    }
  
  }
}
/** End- What we have done **/
/** Our Services - style **/
.service-text p{
    font-size: 15px; 
    line-height: 20px;
}  
.our-services{
  .x-section .x-container.marginless-columns .x-column[class*="x-"]{
    @media only screen and (max-width: 767px){
      width: 50% !important;
      margin: 0 auto;
    }
    @media only screen and (max-width: 500px){
      width: 75% !important;
      margin: 0 auto;
    }
  }
  .background-padding-fix{
    background-size: cover !important;
  }
}
/** End -  Our Services style **/
